.git
.github
**/.env
!**/.env.example
!**/.env.skeleton
**/target
**/node_modules
app/mysql/
database/mysql/
database/postgres/
**/postgres/
**/mysql/
backups
*.pdf
certs
*.pem
*.dump
openspec
.cursor
frontend/README.md
