@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+10&display=swap');

.espn {
//   mimic logo
 
  font-family: 'Jaro', sans-serif;
  font-size: 2rem;
  color: #d70f0f;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-style: italic;
  transition: all 0.3s ease-in-out;
  

}