.main {
	background: white !important;

	:global(.ant-layout-sider-children) {
		display: flex !important;
		flex-direction: column !important;
		flex-wrap: wrap;
	

		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 64px;
			// background: #5d11a0;
			// color: white;
			font-size: 1.5rem;
			font-weight: 500;
			margin-bottom: 10px;
		}

		.label {
			// width:80%;
			// margin: 0 auto;
			margin-left:5%;
			font-size: 1.5rem;
			font-weight: 500;
			// margin: 1rem;
			// padding: 4;
			border-radius: 5px;
			font-size: 13px;
			font-weight: 600;
			border: 1px solid #d982e800;

			
		}

		.link {
			// width:80%;
			margin: 0 auto;
			text-decoration: none;
			color: black;
			font-size: 1.5rem;
			margin: 5px;
			text-indent: 5px;
			padding: 8px;
			border-radius: 5px;
			font-weight: 500;
			font-size: medium;
			border: 1px solid #d982e800;
			transition: all 0.3s;

			opacity: 0.7;

			:global(.anticon) {
				margin-right: 20px;
			}
			&:hover {
				// background-color: #d982e870;
				color: #5d11a0;
				// border: 1px solid #d982e8;
				opacity: 1;
			}

			&.active {
				background-color: #d7a6e399;
				color: #5d11a0;
				// border: 1px solid #5d11a0;
				opacity: 1;


			}
		}
	}
}
